<h3>Soundcloud Chart Search</h3>
<div>
  <button>place holder for "Top 50" pull down menu</button>
  <button>place holder for "Chart" pull down menu</button>
</div>

<br>
<div>
  <button onclick="window.location.href='/scouting_results'">Hit Me!</button>
</div>