<div id="soundcloud" class="tab-pane fade in active">

    <h3>Soundcloud Chart Search</h3><br>

  <div class="btn-group chart_btn" role="group">
    <form action="action_page.php" class="dropdown">
      
        <select class="btn btn-default btn-lg">
          <option>Top 50</option>
          <option>New & Hot</option>
        </select>

        <select class="btn btn-default btn-lg">
          <option>Alternative Rock</option>
          <option>Ambient</option>
          <option>Classical</option>
          <option>Country</option>
          <option>Dance & EDM</option>
          <option>Dancehall</option>
          <option>Deep House</option>
          <option>Disco</option>
          <option>Drom & Bass</option>
          <option>Dubstep</option>
          <option>Electronic</option>
          <option>Folk & Singer-Songwriter</option>
          <option>Hip Hop & Rap</option>
          <option>House</option>
          <option>Indie</option>
          <option>Jazz & Blues</option>
          <option>Latin</option>
          <option>Metal</option>
          <option>Piano</option>
          <option>Pop</option>
          <option>R&B & Soul</option>
          <option>Reggae</option>
          <option>Reggaton</option>
          <option>Rock</option>
          <option>Soundtrack</option>
          <option>Techno</option>
          <option>Trance</option>
          <option>Trap</option>
          <option>Triphop</option>
          <option>World</option>
        </select>
      <input class="btn btn-default" type="submit">
    </form>
  </div> 
</div>

