<div id="spotify" class="tab-pane fade in active">

<h3>Find the latest Spotify playlist by user name:</h3><br><br>

<%= form_tag("/spotify_playlist", method: "get") do %>
  <%= label_tag(:spotify_user, "Spotify User Name:") %>
  <%= text_field_tag(:spotify_user) %>
  <%= submit_tag("Search") %>
<% end %>

</div>