<!DOCTYPE html>
<html>
<head>
  <title>Band Aggregator</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<header class="header">
  <h1 class="header_title">BAND SCOUT</h1>
  <h3>Artist/Song Data Aggregator</h3>
</header><br><br>

<ul class="nav nav-tabs nav-justified">
  <li class="active"><a data-toggle="tab" href="#soundcloud">Soundcloud Charts</a></li>
  <li><a data-toggle="tab" href="#spotify">Latest Spotify Playlist</a></li>
  <li><a data-toggle="tab" href="#venue">Venue Calendars</a></li>
  <li><a data-toggle="tab" href="#about">About</a></li>
</ul><br>


<div class="tab-content">

<%= yield %>

</div>

</body>
</html>

